<%# TODO: Better array handling %>
<% if flash.any? %>
  <div data-controller="flash" class="inset-0 p-6 items-start justify-end">
    <div class="flex flex-col items-center justify-center">
      <% flash.each do |type, message| %>
        <% if message.is_a?(Array) %>
          <% message.each do |msg| %>
            <%= render Flash::Component.new(type: type, message: msg) %>
          <% end %>
        <% else %>
          <%= render Flash::Component.new(type: type, message: message) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
